<!DOCTYPE html>
<html lang ="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Go Lang App Login </title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <form class="golang-form" id="login">
            <span>Welcome to the Golang App</span>
            <div>
                <input type="text" name="email" id="email" placeholder="Insert Email" required="required">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Insert Password" required="required">
            </div>
            <a href="/create-user">Clique here to create your account</a>
            <button type="submit" class="btn-golangapp">Login</button>
        </form>
    </div>
</body>

</html>