<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register New User</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <form class="golang-form" id="new-user-register">
            <span>Create an account</span>
            <div>
                <input type="text" name="name" id="name" placeholder="Insert Name" required="required">
            </div>
            <div>
                <input type="text" name="nickname" id="nickname" placeholder="Insert your Nickname" required="required">
            </div>
            <div>
                <input type="text" name="email" id="email" placeholder="Insert Email" required="required">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Insert Password" required="required">
            </div>
            <div>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your Password" required="required">
            </div>
            <button type="submit" class="btn-golangapp">REGISTER</button>
        </form>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/register.js"></script>
</body>
</html>